.login-card-parent-div{
    margin: 30px;

    .login-paper-div{
        padding: 30px;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .form-div {
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin: 10px;
            width: 400px;
            max-height: 200px;

            .field {
                margin: 10px 0px;
                width: 400px;
            }
        }

        .login-btn {
            margin: 20px;
        }
    }
}