@use '../../styles/base/variables';
@use '../../styles/base/mixins';

.login-parent-div {
    @include mixins.web-app-screen;
    background-color: variables.$background-color;

    .title-container{
        height: 90px;
        background-color: variables.$primary-color;
        display: flex;
        align-items: center;
        justify-content: center;

        .title{
            font-size: 3em;
            color: white;
            width: auto;
        }

        .underlined{
            text-decoration: underline;
            text-decoration-color: variables.$accent-color;
        }
    }

    .content-div {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - #{variables.$nav-bar-height} - #{variables.$footer-total-height} - 90px);
        width: 100vw;

        .logo-div {
            font-size: 1.5rem;
        }
    }
}
.error-message {
    color: red;
}