@use '../../styles/base/mixins';
@use '../../styles/base/variables';

.certificate-confirmation-parent-div{
    @include mixins.web-app-screen;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .section-title{
        margin-top: 40px;
    }

    .card-div{
        width: 1000px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        .card-title{
            text-align: center;
        }
    }
}