@use '../../styles/base/variables';

.footer-container {
    width: 100vw;
    max-width: 100%;
    height: variables.$footer-total-height;
    position: absolute;
    bottom: 0;

    .solid{
        position: relative;
        background-color: variables.$footer-color;
        height: variables.$footer-solid-height;
        width: 100%;
    }

    .pattern{
        position:relative;
        background-image: url(pleca.svg);
        object-fit: cover;
        height: variables.$footer-pattern-height;
        width: 100%;
    }
}