@use '../../styles/base/variables';
@use '../../styles/base/mixins';


.nav-parent-div {
    position: fixed;
    height: variables.$nav-bar-height;
    background-color: variables.$nav-bar-color;
    color: white;
    width: 100%;
    z-index: 100;

    .content-div {
        padding: 20px variables.$nav-bar-padding;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .nav-left-content{
            display: flex;
            flex-direction: row;

            .nav-link-section{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin-left: 15px;

                .nav-link{
                    color: white;
                    text-decoration: none;
                    font-family: montserrat-medium;
                }
    
                .nav-link:hover{
                    color: #949494;
                }
            }
        }

        .logo-nav-section{
            border-right: solid white 1px;
            display: flex;
            flex-direction: row;
            padding: 0 15px 0 0px;

            .logo-underlined{
                text-decoration: underline;
                text-decoration-color: variables.$accent-color;
            }

            .nav-bar-logo{
                margin: 0;
            }
        }

        .nav-bar-section {
            flex-grow: 1;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .nav-bar-element {
                margin: 0px;
                padding: 0px;
            }
        }

        .left-section {
            justify-content: flex-start;
        }

        .center-section {
            justify-content: center;
        }

        .right-section {
            justify-content: flex-end;
        }
    }
}