@use '../../styles/base/variables';
@use '../../styles/base/mixins';

.priority-screen-container{
    @include mixins.web-app-screen;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-left{
        padding: 30px;
        width: 100%;
        max-width: 1200px;
    }

    .content-container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .info-container{
            position: relative;
            height: 300px;
            width: 1200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .details-container{
                height: 100%;
                width: 400px;

                .list{
                    padding: 15px;
                }

                .bullet-none{
                    list-style-type: none;
                }

                .element{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }

            .charts-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;

                .module-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    .chart-container{
                        position: relative;
                        height:250px;
                        width:250px;
                        display:flex;
                        align-items: center;
                        justify-content: center;

                        .chart-center-label{
                            position:absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            z-index: 2;
                            font-weight: bold;
                            width: 150px;

                            .p-label{
                                text-align: center;
                            }
                        }
    
                        .circle{
                            height: 150px;
                            width: 150px;
                            border-radius: 50%;
                            background-color: #eeeeee;
                            display: block;
                        }

                        .gauge-info-section{
                            position: absolute;
                            bottom: 32%;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            .icon-style{
                                font-size: 18px;
                            }

                            .info-dialog{
                                position:absolute;
                                z-index: 2;
                                right: -40px;
                                bottom: 70px;
                                width: 150px;
                                height: 90px;

                                .p-dialog{
                                    font-size: 0.7em;
                                    margin: 0px;
                                }
                            }

                            .info-dialog-hidden{
                                display: none;
                            }
                        }

                        .gauge-action-section{
                            position: absolute;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            bottom: -5px;
                        }
                    }
                }
            }
        }

        .map-container {
            position: relative;
            width: 100%;
            height: 450px;
            margin-top: 50px;
            overflow: hidden;

            .map-info-div {
                position:absolute;
                margin-top: 20px;
                margin-left: calc((100% - 1200px)/2);
                width: 1200px;
                z-index: 2;

                .map-paper{
                    width: 400px;
                    height: 100px;
                }
            }
        }
    }

    .nav-button{
        top: 50px;
    }
}