@use '../../../styles/base/variables';

.custom-paper-div{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 0px 1px #c4c4c4 !important;

    .inner-div{
        position: relative;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        padding: 10px;

        .title-p {
            margin: 0 0 10px 0;
            font-weight: bold;
        }

        .content-p {
            margin: 0;
        }
    }
}
