@use '../../styles/base/variables';
@use '../../styles/base/mixins';

$card-content-padding: 30px;

.certificate-parent-div{
    @include mixins.web-app-screen;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .certificate-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .page-title{
            margin: 40px;
        }
        
        .certificate-card{
            width: 500px;
            height: 500px;
            margin-bottom: 30px;

            .certificate-card-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: $card-content-padding;
                height: calc(100%-$card-content-padding);

                .certificate-title-txt{
                    margin-bottom: 40px;
                }

                .certificate-helper-txt{
                    margin: 40px 20px 0px 20px;
                    text-align: center;
                }
            }
        }

        .certificate-emision-card{
            width: 500px;
            height: 500px;
            margin-bottom: 30px;

            .certificate-emision-card-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: $card-content-padding;
                height: calc(100%-$card-content-padding);

                .certificate-emision-title-txt{
                    margin-bottom: 40px;
                    text-align: center;
                }

                .certificate-emision-p{
                    text-align: center;
                }

                .list{
                    width: calc(100% - 40px);
                    padding: 15px;

                    .bullet-none{
                        list-style-type: none;
                    }
    
                    .element{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }

                .confirmation-text-div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;

                    .certificate-emision-confirmation-check{
                        margin-bottom: 40px;
                        text-align: center;
                    }
                }

                .button-row{
                    position: absolute;
                    bottom: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .button {
                        margin: 20px;
                        width: 120px;
                    }
                }
            }
        }
    }
}