@use '../../../styles/base/variables';
@use '../../../styles/base/mixins';

.loading-screen-parent-div{
    @include mixins.web-app-screen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}