@use '../../styles/base/variables';
@use '../../styles/base/mixins';

.dashboard-component-container{
    @include mixins.web-app-screen;

    .title-container{
        height: 90px;
        background-color: variables.$primary-color;
        display: flex;
        align-items: center;
        justify-content: center;

        .title{
            font-size: 3em;
            color: white;
            width: auto;
        }

        .underlined{
            text-decoration: underline;
            text-decoration-color: variables.$accent-color;
        }
    }

    .content-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .section-title{
            margin: 40px;
        }

        .cards-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: calc(100% - 40px);
            max-width: 1280px;
            margin-bottom: 30px;

            .card{
                height: 400px;

                .card-content{
                    position: relative;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    .card-title{
                        text-align: center;
                    }

                    .info{
                        text-align: center;
                        padding: 0 30px;
                        height: 220px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .info-label{
                            margin: 0;
                        }
                    }

                    .info-low{
                        text-align: center;
                        padding: 0 30px;
                        height: 120px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .info-label{
                            margin: 5px;
                        }
                    }

                    .circle-container{
                        position: relative;

                        .circle{
                            height: 100px;
                            width: 100px;
                            border-radius: 50%;
                            display: block;
                            margin: 10px;
                        }
    
                        .checkmark-container{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: 1px;
                        }
                    }
                    
                    .actions-container{
                        position:absolute;
                        bottom: 20px;
                        left:0px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .action-button{
                            margin-bottom: 10px;
                        }
                    }

                    .summary-div{
                        width: 100%;
                        position:absolute;
                        bottom: 20px;
                        left: 0px;

                        .list{
                            padding: 15px;
                        }
        
                        .bullet-none{
                            list-style-type: none;
                        }
        
                        .element{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}
.title-text {
    font-family: 'Sansita';
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: 173px;
    letter-spacing: 0em;
    text-align: center;
}
.columns{
    width: 100%;
    margin-top: 100px;
    height: 50%;
}
.column {
    display: inline-block;
    width: calc(33% - 60px);
    margin: 20px;
    background-color: #308FD3;
    padding: 10px;
    height: calc(100% - 40px);
    vertical-align: top;
}
.column-title{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
.text-white {
    color: white
}
.text-center {
    text-align: center;
}
.text-red {
    color: red
}
.img-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
.yellow-card {
    background-color: #DDF355;
    width: 70%;
    height: 80px;
}