@use './variables';

@mixin base-typography {
    h1{
        font-family: patua-one-regular;
        font-weight: normal;
    }
    
    h2, h3, h4, h5, h6{
        font-family: montserrat-semibold;
    }
    
    p, li{
        font-family: montserrat-medium;
        font-size: 0.9em;
    }
}

@mixin web-app-screen {
    position: absolute;
    margin-top: variables.$nav-bar-height;
    padding-bottom: variables.$footer-total-height;
    min-height: calc(100vh - #{variables.$nav-bar-height} - #{variables.$footer-total-height});
    width: 100vw;
    max-width: 100%;
}