//colors
$primary-color: #404041;
$secondary-color: #9d2449;
$background-color: white;
$accent-color: #B38E5D;
$outline-color: #C4C4C4;

$nav-bar-color: #202529;
$footer-color: #12322B;

//Dimensions
$nav-bar-height: 70px;
$nav-bar-padding: 20px;
$footer-solid-height: 50px;
$footer-pattern-height: 40px;
$footer-total-height: $footer-solid-height + $footer-pattern-height;

//Fonts
@font-face {
    font-family: patua-one-regular;
    src: url('../../fonts/Patua_One/PatuaOne-Regular.ttf');
}

@font-face {
    font-family: montserrat-semibold;
    src: url('../../fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: montserrat-medium;
    src: url('../../fonts/Montserrat/Montserrat-Medium.ttf');
}