@use '../../styles/base/mixins';
@use '../../styles/base/variables';

.certificate-request-parent-div{
    @include mixins.web-app-screen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section-title{
        text-align: center;
        margin: 40px;
    }

    .search-card-div{
        height: 580px;
        width: 500px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

        .card-content-div{
            $card-padding: 30px;
            position: relative;
            height: calc(100% - #{$card-padding} - #{$card-padding});
            width: calc(100% - #{$card-padding} - #{$card-padding});
            padding: $card-padding;


            .card-title{
                text-align: center;
            }
            
            .input-section{
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: flex-end;

                .input-section-field{
                    width: 100%;
                }

                .input-section-button{
                    width: 100px;
                    margin-top: 20px;
                }
            }

            .information-section{
                .list{
                    padding: 15px;
                }

                .bullet-none{
                    list-style-type: none;
                }

                .element{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .confirmation-text-div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;

                    .certificate-emision-confirmation-check{
                        margin-bottom: 40px;
                        text-align: center;
                    }
                }
            }

            .action-section{
                width: calc(100% - #{$card-padding} - #{$card-padding});
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 20px;

                .action-section-button{
                    width: 100px;
                }
            }
        }
    }
}