@use '../../styles/base/variables';
@use '../../styles/base/mixins';

.turn-confirmation-parent-div{
    @include mixins.web-app-screen;

    .turn-confirmation-content{
        display: flex;
        flex-direction: column;
        align-items: center;

        .page-title{
            margin: 40px;
        }

        .cards-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: calc(100% - 40px);
            max-width: 1100px;

            .card{
                height: 480px;

                .card-content{
                    position: relative;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    .list{
                        width: calc(100% - 40px);
                        padding: 15px;

                        .bullet-none{
                            list-style-type: none;
                        }
        
                        .element{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            .content-p-left{
                                text-align: left;
                                width: 50%;
                            }

                            .content-p-right{
                                text-align: right;
                                width: 50%;
                            }
                        }
                    }

                    .confirmed-label{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .button{
                            margin: 20px;
                        }
                    }

                    .button-row{
                        position: absolute;
                        bottom: 20px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .button {
                            margin: 20px;
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
}