@use '../../styles/base/variables';

.register-card-parent-div {

    .paper-div {
        padding: 20px;

        .register-success-card{
            height: calc(100% - 20px);
            width: calc(100% - 20px);
            position: absolute;
            z-index: 2;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .button{
                margin: 20px;
            }

            .warninig-label{
                color: red;
            }
        }

        .register-card-inner-div{
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .form-div {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin: 20px;
            width: 800px;

            .column-div {
                display:flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .field {
                    width: 385px;
                    margin: 10px 0px;
                }
            }
        }

        .error-box{
            padding: 20px;
        }

        .next-btn {
            margin: 20px;
        }
    }
}
